In [2]:
import numpy as np
import pandas as pd

In [3]:
ld=pd.read_csv("loans data.csv")

In [4]:
ld.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years

In [5]:
ld.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [ ]:
## Data prep:
# ID,Amount.Funded.By.Investors: Drop
#Interest.Rate,Debt.To.Income.Ratio: remove % sign and convert to numeric
#Amount.Requested,Open.CREDIT.Lines,Revolving.CREDIT.Balance: convert it to numeric
# FICO.Range:  replace it by numeric column which is average of range
# Employment.Length: convert to number
# Loan.Length,Loan.Purpose,State,Home.Ownership: dummies

In [6]:
ld.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [7]:
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld[col]=ld[col].str.replace("%","")

In [8]:
ld.select_dtypes(['object']).columns

Index(['Amount.Requested', 'Interest.Rate', 'Loan.Length', 'Loan.Purpose',
       'Debt.To.Income.Ratio', 'State', 'Home.Ownership', 'FICO.Range',
       'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance', 'Employment.Length'],
      dtype='object')

In [9]:
for col in ['Amount.Requested','Interest.Rate','Debt.To.Income.Ratio',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld[col]=pd.to_numeric(ld[col],errors='coerce')

In [10]:
ld.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [11]:
k=ld['FICO.Range'].str.split("-",expand=True).astype(float)
ld['fico']=0.5*(k[0]+k[1])
del ld['FICO.Range']
ld.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
fico                              float64
dtype: object

In [13]:
ld['fico']

0       737.0
1       717.0
2       692.0
3       697.0
4       697.0
        ...
2495    707.0
2496    742.0
2497    682.0
2498    677.0
2499    672.0
Name: fico, Length: 2500, dtype: float64

In [12]:
ld['Employment.Length'].value_counts()

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
9 years       72
.              2
Name: Employment.Length, dtype: int64

In [ ]:
#errors=corece : it replace any missing value with NAN or which value is is not possible to convert for them it coerce that values

In [14]:
ld['Employment.Length']=ld['Employment.Length'].str.replace('years',"")
ld['Employment.Length']=ld['Employment.Length'].str.replace('year',"")
ld['Employment.Length']=np.where(ld['Employment.Length'].str[:2]=="10",10,ld['Employment.Length'])
ld['Employment.Length']=np.where(ld['Employment.Length'].str[0]=="<",0,ld['Employment.Length'])
ld['Employment.Length']=pd.to_numeric(ld['Employment.Length'],errors='coerce')

In [15]:
ld['Employment.Length']

0        0.0
1        2.0
2        2.0
3        5.0
4        9.0
        ...
2495     8.0
2496    10.0
2497    10.0
2498     5.0
2499    10.0
Name: Employment.Length, Length: 2500, dtype: float64

In [16]:
cat_cols=ld.select_dtypes(['object']).columns

In [17]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [18]:
## we can use pandas getdummies function and manual method to create dummies
# but in this case we are using manual method to ignore lower frequencies variable
for col in cat_cols:
    freqs=ld[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ld[name]=(ld[col]==cat).astype(int)
    del ld[col]
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership

In [19]:
ld.dtypes

Amount.Requested                   float64
Interest.Rate                      float64
Debt.To.Income.Ratio               float64
Monthly.Income                     float64
Open.CREDIT.Lines                  float64
Revolving.CREDIT.Balance           float64
Inquiries.in.the.Last.6.Months     float64
Employment.Length                  float64
fico                               float64
Loan.Length_36 months                int32
Loan.Purpose_debt_consolidation      int32
Loan.Purpose_credit_card             int32
Loan.Purpose_other                   int32
Loan.Purpose_home_improvement        int32
Loan.Purpose_major_purchase          int32
Loan.Purpose_small_business          int32
Loan.Purpose_car                     int32
Loan.Purpose_wedding                 int32
Loan.Purpose_medical                 int32
Loan.Purpose_moving                  int32
State_CA                             int32
State_NY                             int32
State_TX                             int32
State_FL                             int32
State_IL                             int32
State_GA                             int32
State_PA                             int32
State_NJ                             int32
State_VA                             int32
State_MA                             int32
State_OH                             int32
State_MD                             int32
State_NC                             int32
State_CO                             int32
State_WA                             int32
State_CT                             int32
State_AZ                             int32
State_MI                             int32
State_MN                             int32
State_AL                             int32
State_MO                             int32
State_NV                             int32
State_OR                             int32
State_SC                             int32
State_WI                             int32
State_KY                             int32
State_LA                             int32
State_OK                             int32
Home.Ownership_MORTGAGE              int32
Home.Ownership_RENT                  int32
dtype: object

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
ld_train,ld_test=train_test_split(ld,test_size=0.2,random_state=2)

In [22]:
ld_train.isnull().sum()

Amount.Requested                    5
Interest.Rate                       0
Debt.To.Income.Ratio                1
Monthly.Income                      3
Open.CREDIT.Lines                   7
Revolving.CREDIT.Balance            4
Inquiries.in.the.Last.6.Months      3
Employment.Length                  68
fico                                0
Loan.Length_36 months               0
Loan.Purpose_debt_consolidation     0
Loan.Purpose_credit_card            0
Loan.Purpose_other                  0
Loan.Purpose_home_improvement       0
Loan.Purpose_major_purchase         0
Loan.Purpose_small_business         0
Loan.Purpose_car                    0
Loan.Purpose_wedding                0
Loan.Purpose_medical                0
Loan.Purpose_moving                 0
State_CA                            0
State_NY                            0
State_TX                            0
State_FL                            0
State_IL                            0
State_GA                            0
State_PA                            0
State_NJ                            0
State_VA                            0
State_MA                            0
State_OH                            0
State_MD                            0
State_NC                            0
State_CO                            0
State_WA                            0
State_CT                            0
State_AZ                            0
State_MI                            0
State_MN                            0
State_AL                            0
State_MO                            0
State_NV                            0
State_OR                            0
State_SC                            0
State_WI                            0
State_KY                            0
State_LA                            0
State_OK                            0
Home.Ownership_MORTGAGE             0
Home.Ownership_RENT                 0
dtype: int64

In [23]:
## replace na values by mean
for col in ld_train.columns:
    if ld_train[col].isnull().sum()>0:
        ld_train.loc[ld_train[col].isnull(),col]=ld_train[col].mean()

for col in ld_test.columns:
    if ld_test[col].isnull().sum()>0:
        ld_test.loc[ld_test[col].isnull(),col]=ld_train[col].mean()

C:\Users\Ashwini\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [24]:
# seperate the predictor and response. y-train-->response, x_train=predictor
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
lm=LinearRegression()

In [27]:
lm.fit(x_train,y_train)

LinearRegression()

In [29]:
lm.coef_

array([ 1.59059286e-04, -1.07930820e-03, -1.69117262e-05, -2.82757819e-02,
       -5.76482784e-06,  3.12674913e-01,  1.63365845e-02, -8.77620360e-02,
       -3.18831460e+00, -7.22469773e-01, -8.23643158e-01, -2.04778652e-02,
       -8.80070638e-01, -4.68619194e-01, -8.25934775e-02, -5.39514017e-01,
       -9.90991495e-01, -6.02580092e-01,  8.39558555e-01, -4.70816058e-01,
       -4.13716336e-01,  2.17299255e-01, -3.66654406e-01, -8.18678712e-01,
       -2.02295370e-01, -5.96572942e-01, -5.92819403e-01, -2.23066635e-01,
       -3.78898570e-01, -8.38219355e-02, -5.32476912e-02, -3.86482396e-01,
       -5.59831742e-01, -3.03593431e-01,  5.81282728e-02,  6.54090424e-02,
       -2.60693164e-01,  2.09119339e-02, -1.48945197e-01, -4.78060090e-01,
       -4.23477762e-01,  1.99575471e-01, -2.43834338e-01, -2.61042630e-02,
       -1.04608993e-01, -8.55763668e-03, -8.90429283e-01, -3.88422632e-01,
       -2.32968218e-01])

In [30]:
lm.intercept_
# beta zero is intercept

77.07213296580457

In [31]:
list(zip(x_train.columns,lm.coef_))

[('Amount.Requested', 0.00015905928579314354),
 ('Debt.To.Income.Ratio', -0.0010793082005023213),
 ('Monthly.Income', -1.6911726214773715e-05),
 ('Open.CREDIT.Lines', -0.028275781850735107),
 ('Revolving.CREDIT.Balance', -5.7648278431465805e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3126749130602594),
 ('Employment.Length', 0.01633658450806541),
 ('fico', -0.08776203604546573),
 ('Loan.Length_36 months', -3.1883146036023713),
 ('Loan.Purpose_debt_consolidation', -0.7224697730607057),
 ('Loan.Purpose_credit_card', -0.8236431581879268),
 ('Loan.Purpose_other', -0.020477865204266532),
 ('Loan.Purpose_home_improvement', -0.8800706376573194),
 ('Loan.Purpose_major_purchase', -0.4686191937334272),
 ('Loan.Purpose_small_business', -0.0825934774582125),
 ('Loan.Purpose_car', -0.5395140165856502),
 ('Loan.Purpose_wedding', -0.9909914948711225),
 ('Loan.Purpose_medical', -0.6025800916376355),
 ('Loan.Purpose_moving', 0.8395585554658108),
 ('State_CA', -0.47081605787532094),
 ('State_NY', -0.4137163355074169),
 ('State_TX', 0.21729925470779415),
 ('State_FL', -0.3666544055481376),
 ('State_IL', -0.8186787119632527),
 ('State_GA', -0.20229537000168207),
 ('State_PA', -0.5965729418582328),
 ('State_NJ', -0.5928194027740429),
 ('State_VA', -0.22306663469110805),
 ('State_MA', -0.37889856990817133),
 ('State_OH', -0.08382193550073155),
 ('State_MD', -0.05324769120670016),
 ('State_NC', -0.3864823964176475),
 ('State_CO', -0.5598317424377197),
 ('State_WA', -0.3035934309165548),
 ('State_CT', 0.05812827279126444),
 ('State_AZ', 0.06540904239651121),
 ('State_MI', -0.26069316358378175),
 ('State_MN', 0.020911933892077197),
 ('State_AL', -0.1489451968772159),
 ('State_MO', -0.47806008979689274),
 ('State_NV', -0.423477762291205),
 ('State_OR', 0.1995754709088241),
 ('State_SC', -0.24383433759949869),
 ('State_WI', -0.026104262969745384),
 ('State_KY', -0.10460899326392015),
 ('State_LA', -0.008557636679658337),
 ('State_OK', -0.8904292826513324),
 ('Home.Ownership_MORTGAGE', -0.3884226322591205),
 ('Home.Ownership_RENT', -0.2329682177797764)]

In [32]:
## Performance on test
x_test=ld_test.drop('Interest.Rate',axis=1)

In [33]:
predicted_ir=lm.predict(x_test)

In [34]:
predicted_ir

array([13.54161591,  9.08585546, 14.27481912, 13.84101559,  7.05132327,
       19.65215563, 13.35168699, 16.14292115, 11.58633624,  7.28721433,
       13.07191708, 21.45154056, 15.24655957, 16.53099029, 18.37585535,
       15.29486625, 13.51287106, 15.85097164, 13.97718879, 14.4747684 ,
       14.44590658, 14.02142775, 14.47910987, 13.22387302,  9.58805934,
        6.76409074, 19.01604862, 10.01746242,  9.85921855, 16.3330338 ,
       16.09424183, 15.34691013, 12.51688001, 15.80770005, 14.98804752,
       17.83123193,  6.77862414,  7.48424136, 15.67748383, 11.13120689,
       15.00156029, 14.7188922 , 10.38141212, 13.2199913 , 15.54957095,
       18.50671927, 13.1732654 , 19.68116888, 10.63320172, 15.2118001 ,
       15.23683658, 10.19660874, 12.00616426, 19.07206059, 16.85599657,
        5.11473269, 18.33913281,  8.01969534, 11.21352647,  8.84255518,
        8.48098371,  9.96270159,  3.53199925, 12.30254252,  9.97044881,
        6.1621252 ,  7.08565801, 17.45505222, 17.76810379, 14.80618306,
       13.48351958,  2.23785448, 14.89094346,  5.23762603,  7.93521476,
       12.81393757, 14.509621  , 11.54661405, 11.19904927, 15.08090203,
       12.32117623, 12.89711373, 10.45999132,  9.86113631,  8.54690943,
       17.18832252, 14.54468746,  9.94292384, 20.0502515 , 13.29510065,
       10.06423082, 14.76054612,  8.9017865 ,  9.16227424, 15.12640055,
       15.93500964,  1.70466003, 14.34813178, 14.11031469,  2.93154744,
        8.6058554 , 14.61051327, 15.09947124, 13.29798848, 17.98117379,
       15.94052703, 11.66457425, 13.11410482, 12.17514826, 20.39503035,
       13.45172775, 14.55935708, 11.48710417, 11.92740796, 11.20808321,
       12.96139117,  6.43100041, 14.81708104, 17.42135971, 19.24435822,
       11.11631437,  7.94038276, 12.04943213, 12.77966678, 13.14061389,
       17.21744818,  7.72646196, 16.47257362, 12.65124188,  9.93996425,
       10.33693933, 14.09889684, 12.97515102, 13.49634565,  1.72969426,
       11.58782693, 17.65347921, 19.38141467, 14.35349739,  9.62180319,
        8.89008437, 13.76519327, 15.26573829, 13.669439  , 13.10844404,
        7.47076192,  5.04390333, 13.68186034, 18.35147482, 14.50159415,
       15.03697258, 15.47292294, 14.50800617,  9.56123657,  9.74712451,
        5.08047369, 15.42580926, 13.75267172, 15.80566257, 13.68460223,
       14.94204952, 12.20506925,  9.75329895, 14.89355138,  5.63938681,
        6.9623017 , 15.24184519, 11.40615512, 13.78948241, 13.03847853,
       11.24304464, 11.19772335, 13.13712094, 10.81783369, 15.42132879,
       11.44935522, 15.14448194,  8.42955256, 14.69092779,  8.08259271,
        6.76158983, 14.31022681, 13.26245875, 14.46096512, 14.94337578,
       17.35194677, 11.19947675, 10.19682907, 13.43307312, 16.23498943,
       11.54614205, 13.3798363 , 15.03399176, 14.09235712, 15.29274871,
       13.72540047, 17.00749022, 15.73313802, 10.34505728, 12.08998662,
       15.23142115, 13.21114613,  4.17750803, 17.57448979, 15.89735616,
       20.1684757 ,  2.70610943, 14.84932686, 16.1484264 , 11.60102086,
       15.51457112, 12.28849886, 14.00182787, 13.78051794, 14.35616427,
       14.03154042, 14.66766837, 20.40980653, 16.12820288, 12.26642841,
       13.72385474, 13.26558953, 11.94395052,  9.6190747 , 11.06997846,
        7.81988541, 14.77901311, 15.72417549, 12.65595543, 13.62953081,
       13.35758978,  3.82098496, 16.82879882, 21.18434434, 15.54153014,
       13.89538468, 15.54449466, 14.49462316, 13.80578758, 13.58956532,
       13.82952677, 13.03867034, 12.8151029 ,  8.54119376, 19.00885255,
       13.30957583, 16.07771913, 12.72180048, 15.97980966, 15.77703185,
       14.36494427, 11.37726154, 12.22458011, 16.23055216, 15.06128401,
       14.00815717, 17.66246591, 15.12704702,  9.94245894, 12.13061739,
        9.53588182, 10.71908668, 11.13541415, 15.14186827,  7.70086151,
       15.93717961,  6.78917853, 17.59717719,  9.34239575, 11.99354926,
       15.20347346, 15.50600975, 15.67829905, 13.68283484, 13.87906659,
       14.2059264 , 15.0506178 , 15.97717301, 15.28450748, 10.34008934,
       12.69331969, 13.12110214,  5.58381739, 12.40997352, 15.18503533,
       17.00835143, 12.42892568, 14.0366253 ,  9.52411767, 14.15469969,
       12.32485026, 11.33179852, 21.16840412, 16.72382733, 10.43559429,
       18.56593693, 17.47994148, 18.920828  , 10.65794551, 14.96888411,
       14.47894913,  6.47033741, 16.85757052, 11.01862433, 14.57892276,
       14.46223206, 15.64169905, 13.29357723, 17.49562351, 13.07776501,
       12.70695516,  6.05022057,  4.41786431, 12.18688965, 10.04150702,
       17.0078168 , 16.6137367 , 14.5053734 , 13.05663579,  8.65987821,
       15.76705059, 18.80931025, 16.32139458, 10.19140106,  9.37629538,
       14.40406281,  9.31450132, 13.88286046, 13.82679956, 15.47941777,
       10.68439512,  9.32503793, 18.96465977, 15.31140973, 12.09756129,
        7.40036047, 15.09897919,  8.02580139, 17.11569059, 13.62836026,
       18.94111489, 17.23540207, 12.81389468, 14.43593795, 14.61211851,
       15.84820599, 17.17900184, 11.87990591, 13.96033789, 16.73511779,
       19.46212509, 10.48931843, 11.5371864 , 13.08662316, 13.8099323 ,
       10.26279973, 15.40555237, 15.49875347, 14.19723037, 12.62750673,
       11.19366491, 15.61970306,  9.92391581,  7.46051421, 12.56861549,
       11.24063308, 14.44517982, 10.80918223, 14.33657489, 15.4912555 ,
       17.23436458, 17.32820198, 20.83190871, 15.58075387, 13.46384312,
       14.63329719,  9.73655323,  5.62721167, 12.6305716 , 15.7187268 ,
       14.15081688,  8.45657234, 11.29485513, 15.02823825, 15.93150613,
       16.11778069, 13.13439544, 13.57547646, 11.62343141, 11.86364569,
       13.19056621, 12.45506246, 13.48562135, 11.19046443,  8.46924758,
       13.34053484,  8.67650374, 13.05653092, 15.26079711,  9.70522911,
       18.80484301, 12.71893306,  8.75091297, 14.76722003, 11.82544041,
       10.92192166, 12.84550216, 14.89221312, 19.20606057, 17.77251225,
       14.27451601, 12.12863367, 13.44189801, 13.43729785, 15.87099097,
       13.65226573, 15.83937916,  9.17293377, 10.12731394, 18.56155256,
       13.5045626 , 15.06211103, 16.84907693, 18.88641678, 14.34249442,
       15.91601677,  6.88826315,  7.31403774, 20.53232948,  7.3782345 ,
       14.59808341, 12.34066372, 14.11583217, 18.49575289, 21.01689459,
       12.70903402,  7.163146  , 12.1007501 , 18.3745788 , 12.25793813,
       10.25967414,  9.75112026,  9.69144503, 14.19099014, 14.93524703,
       13.7101815 , 19.45298327, 12.16570644,  8.68782701, 14.89113759,
        4.46565374, 10.80196595, 13.8829148 , 16.45556969, 15.58890912,
       12.61111425,  5.61052208, 13.35860149, 13.97844782, 12.04600138,
       11.21357092, 14.79481629, 17.19133441, 12.98608187, 13.56391074,
       14.98596188, 19.03255936, 11.92608596, 18.33051544, 14.81955547,
       18.97707037, 11.22920011, 12.740251  ,  8.51303562, 11.50016653,
       14.45296681, 10.49018567, 14.66232292,  7.63400073, 10.14643884,
        7.00483697,  5.56451213, 18.84800205, 14.44325719, 15.341786  ,
       15.20918393, 13.41954356, 12.26263009, 12.22111639,  6.82588643,
       16.30141732, 20.90182451, 11.33012527, 10.4273193 , 10.91667763,
       16.79192547, 19.64496553, 14.81008303, 10.46434444,  9.97215143])

In [35]:
from sklearn.metrics import mean_absolute_error

In [36]:
mean_absolute_error(ld_test['Interest.Rate'],predicted_ir)

1.5472250646584094

In [37]:
## Regularization methods:
##L2 penalty- Ridge, L1 penalty- lasso
from sklearn.linear_model import Ridge,Lasso

In [38]:
## best value of lambda using kfold
from sklearn.model_selection import KFold

In [39]:
lambdas=np.linspace(1,100,100)

In [40]:
lambdas

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])

In [41]:
## kfold works on indices of ld_train, it fold on the basis of indices hence ids are shuffled
ld_train

,Amount.Requested,Interest.Rate,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,fico,Loan.Length_36 months,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_OK,Home.Ownership_MORTGAGE,Home.Ownership_RENT
914,3250.0,12.73,21.44,5000.00,12.0,20564.0,0.0,3.0,677.0,1,...,0,0,0,0,0,0,0,0,1,0
510,16000.0,14.09,7.78,4166.67,6.0,4240.0,3.0,2.0,737.0,0,...,0,0,0,0,0,0,0,0,0,1
2073,10000.0,5.42,1.69,8000.00,6.0,8974.0,0.0,3.0,797.0,1,...,0,0,0,0,0,0,0,0,1,0
1494,3600.0,13.99,10.00,5750.00,8.0,10766.0,2.0,4.0,672.0,1,...,0,0,0,0,0,0,0,0,0,1
765,14000.0,14.65,3.47,8750.00,6.0,9035.0,1.0,10.0,682.0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,2500.0,15.95,24.07,1500.00,10.0,2684.0,3.0,1.0,667.0,1,...,0,0,0,0,0,0,0,0,1,0
2408,10000.0,22.47,34.26,6200.00,36.0,28850.0,1.0,3.0,677.0,1,...,0,0,0,0,0,0,0,0,1,0
1099,30000.0,12.12,10.97,5833.33,8.0,10787.0,0.0,10.0,752.0,0,...,0,0,0,0,0,0,0,0,1,0
2347,12000.0,6.62,1.43,9666.67,5.0,4693.0,0.0,1.0,752.0,1,...,0,0,0,0,0,0,0,0,0,1
1608,2000.0,14.65,16.66,2083.33,5.0,2566.0,1.0,5.0,687.0,1,...,0,0,0,0,0,0,0,0,0,0

In [42]:
## so we have to reset index
ld_train.reset_index(inplace=True,drop=True)

In [43]:
## Recreate x_train and y_train
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [44]:
mae_list=[]
for a in lambdas:
    ridge=Ridge(fit_intercept=True,alpha=a)
    
    kf=KFold(n_splits=10)
    
    xval_err=0
    
    for train,test in kf.split(x_train):
        ridge.fit(x_train.loc[train],y_train[train])
        p=ridge.predict(x_train.loc[test])
        xval_err +=mean_absolute_error(y_train[test],p)
        
    mae_10cv=xval_err/10
    print(a,":",mae_10cv)
    mae_list.extend([mae_10cv])

1.0 : 1.6267097009333444
2.0 : 1.6257681508581001
3.0 : 1.6249774457021062
4.0 : 1.624273990841311
5.0 : 1.6236580809736758
6.0 : 1.6231680074751111
7.0 : 1.6227536210372695
8.0 : 1.6223613718190328
9.0 : 1.6220103214511337
10.0 : 1.6217013835746734
11.0 : 1.6214259315268353
12.0 : 1.6211733725677373
13.0 : 1.6209392676797734
14.0 : 1.6207220334034957
15.0 : 1.6205351675578417
16.0 : 1.6203605610695768
17.0 : 1.6202085720988397
18.0 : 1.620079081765517
19.0 : 1.6199685932002938
20.0 : 1.619879194258542
21.0 : 1.619807968589694
22.0 : 1.619746776629397
23.0 : 1.6196987333296586
24.0 : 1.6196579584929598
25.0 : 1.6196280638888247
26.0 : 1.6196052025318637
27.0 : 1.6195952251220729
28.0 : 1.6195910063448504
29.0 : 1.6195981361056746
30.0 : 1.6196119924686225
31.0 : 1.6196360388810689
32.0 : 1.6196636562737659
33.0 : 1.6196954630624263
34.0 : 1.619730774153357
35.0 : 1.6197861094807422
36.0 : 1.6198637289799982
37.0 : 1.6199515829877285
38.0 : 1.6200404730228268
39.0 : 1.620132542632756
40.0 : 1.620232318014196
41.0 : 1.6203405681601388
42.0 : 1.6204493994729208
43.0 : 1.6205596590815117
44.0 : 1.6206785083379196
45.0 : 1.620800867833632
46.0 : 1.6209355103007426
47.0 : 1.62107479747185
48.0 : 1.621216974996767
49.0 : 1.6213599132620746
50.0 : 1.6215030605701706
51.0 : 1.6216531929522482
52.0 : 1.621803122638831
53.0 : 1.6219566792658207
54.0 : 1.6221353600172672
55.0 : 1.622326039001143
56.0 : 1.6225237157095809
57.0 : 1.6227205179121114
58.0 : 1.6229176297578836
59.0 : 1.6231160106268743
60.0 : 1.6233205539468067
61.0 : 1.6235316769283894
62.0 : 1.6237609439425753
63.0 : 1.6239935612518628
64.0 : 1.6242283219736149
65.0 : 1.6244643078131422
66.0 : 1.6247037658175798
67.0 : 1.6249436517090703
68.0 : 1.6251822667006082
69.0 : 1.625419616393869
70.0 : 1.6256615927210571
71.0 : 1.62591065973793
72.0 : 1.6261653972624852
73.0 : 1.6264251038057238
74.0 : 1.6266853324697128
75.0 : 1.626954057493616
76.0 : 1.6272336817296669
77.0 : 1.6275189843482996
78.0 : 1.627804150092712
79.0 : 1.6280908927889617
80.0 : 1.6283855235297373
81.0 : 1.6286792576096314
82.0 : 1.6289749455242213
83.0 : 1.6292696002095948
84.0 : 1.6295670829223095
85.0 : 1.629872319797014
86.0 : 1.6301772574201283
87.0 : 1.6304852382539028
88.0 : 1.6307990717761267
89.0 : 1.6311123406377068
90.0 : 1.6314246917728945
91.0 : 1.6317352740512276
92.0 : 1.6320451263199423
93.0 : 1.6323609269788801
94.0 : 1.6326830206998526
95.0 : 1.6330087604373698
96.0 : 1.6333383376382962
97.0 : 1.6336721024798926
98.0 : 1.6340052554469655
99.0 : 1.6343401340400558
100.0 : 1.6346751372646906

In [45]:
best_alpha=lambdas[mae_list==min(mae_list)]
print('Alpha with min 10cv error is:',best_alpha)

Alpha with min 10cv error is: [28.]

In [34]:
## so here we get 28 so we can get finer value around 28, then we take this lambda value and run on entire model and 
# error comes 1.52

In [47]:
ridge=Ridge(fit_intercept=True,alpha=best_alpha)
ridge.fit(x_train,y_train)
p_test=ridge.predict(x_test)

mae_ridge=mean_absolute_error(ld_test['Interest.Rate'],p_test)

mae_ridge

1.5286735956414594

In [36]:
## we get slightly better performance than previous one- 1.54

In [37]:
## Using Lasso:

In [48]:
lambdas=np.linspace(1,100,100)
mae_list=[]
for a in lambdas:
    lasso=Lasso(fit_intercept=True,alpha=a)
    kf=KFold(n_splits=10)
    xval_err=0
    
    for train,test in kf.split(x_train):
        lasso.fit(x_train.loc[train],y_train[train])
        p=lasso.predict(x_train.loc[test])
        xval_err += mean_absolute_error(y_train[test],p)
        
    mae_10cv=xval_err/10
#    print(a,":",mae_10cv)
    mae_list.extend([mae_10cv])
best_alpha=lambdas[mae_list==min(mae_list)]
print('Alpha with min 10cv error is :',best_alpha)

Alpha with min 10cv error is : [1.]

In [49]:
## best value come near to 1 so we should expand on neighbourhood
lambdas=np.linspace(0.5,10,100)
mae_list=[]
for a in lambdas:
    lasso=Lasso(fit_intercept=True,alpha=a)
    kf=KFold(n_splits=10)
    xval_err=0
    
    for train,test in kf.split(x_train):
        lasso.fit(x_train.loc[train],y_train[train])
        p=lasso.predict(x_train.loc[test])
        xval_err += mean_absolute_error(y_train[test],p)
        
    mae_10cv=xval_err/10
#    print(a,":",mae_10cv)
    mae_list.extend([mae_10cv])
best_alpha=lambdas[mae_list==min(mae_list)]
print('Alpha with min 10cv error is :',best_alpha)

Alpha with min 10cv error is : [0.5]

In [40]:
## best value come near to 0.5 so we should expand on neighbourhood
lambdas=np.linspace(0.001,1,100)
mae_list=[]
for a in lambdas:
    lasso=Lasso(fit_intercept=True,alpha=a)
    kf=KFold(n_splits=10)
    xval_err=0
    
    for train,test in kf.split(x_train):
        lasso.fit(x_train.loc[train],y_train[train])
        p=lasso.predict(x_train.loc[test])
        xval_err += mean_absolute_error(y_train[test],p)
        
    mae_10cv=xval_err/10
#    print(a,":",mae_10cv)
    mae_list.extend([mae_10cv])
best_alpha=lambdas[mae_list==min(mae_list)]
print('Alpha with min 10cv error is :',best_alpha)

Alpha with min 10cv error is : [0.01109091]

In [50]:
## now value-0.011 is at midddle so we can progress
lasso=Lasso(fit_intercept=True,alpha=best_alpha)
lasso.fit(x_train,y_train)
p_test=lasso.predict(x_test)

mae_lasso=mean_absolute_error(ld_test['Interest.Rate'],p_test)
mae_lasso

1.847085015890833

In [51]:
# here also we get 1.52 which similar to ridge value but if we look at coeff many variable coeff become zero
list(zip(x_train.columns,lasso.coef_))

[('Amount.Requested', 0.00022515960016130724),
 ('Debt.To.Income.Ratio', -0.0),
 ('Monthly.Income', -4.091840370825148e-05),
 ('Open.CREDIT.Lines', -0.01099620150554398),
 ('Revolving.CREDIT.Balance', -1.168942420928686e-05),
 ('Inquiries.in.the.Last.6.Months', 0.02780027643057032),
 ('Employment.Length', 0.0),
 ('fico', -0.08875326259542494),
 ('Loan.Length_36 months', -0.0),
 ('Loan.Purpose_debt_consolidation', -0.0),
 ('Loan.Purpose_credit_card', -0.0),
 ('Loan.Purpose_other', 0.0),
 ('Loan.Purpose_home_improvement', 0.0),
 ('Loan.Purpose_major_purchase', 0.0),
 ('Loan.Purpose_small_business', 0.0),
 ('Loan.Purpose_car', 0.0),
 ('Loan.Purpose_wedding', -0.0),
 ('Loan.Purpose_medical', 0.0),
 ('Loan.Purpose_moving', 0.0),
 ('State_CA', -0.0),
 ('State_NY', 0.0),
 ('State_TX', 0.0),
 ('State_FL', -0.0),
 ('State_IL', -0.0),
 ('State_GA', 0.0),
 ('State_PA', -0.0),
 ('State_NJ', -0.0),
 ('State_VA', 0.0),
 ('State_MA', -0.0),
 ('State_OH', 0.0),
 ('State_MD', 0.0),
 ('State_NC', -0.0),
 ('State_CO', -0.0),
 ('State_WA', 0.0),
 ('State_CT', 0.0),
 ('State_AZ', 0.0),
 ('State_MI', -0.0),
 ('State_MN', 0.0),
 ('State_AL', 0.0),
 ('State_MO', -0.0),
 ('State_NV', -0.0),
 ('State_OR', 0.0),
 ('State_SC', -0.0),
 ('State_WI', 0.0),
 ('State_KY', 0.0),
 ('State_LA', 0.0),
 ('State_OK', -0.0),
 ('Home.Ownership_MORTGAGE', -0.0),
 ('Home.Ownership_RENT', -0.0)]